<h1>Hello from Component!</h1>


<script id="component-script">
    setTitle("Welcome", "Home! :)");
    setPageTitleSuffix("Home");
    applyPageTitle();
    updateBreadcrumb([{name: "Home", icon: "fa-home"}]);
    component = {
        getComponentData: function () {   //Backup all (not url visible) input fields
            return {};
        },
        getQueryData: function () {
            return {};
        },
        initFromData: function (url, query_data, component_data) {    //Restore the component's input from data
            return;
        },
        initWithoutData: function (url, query_data) {   //Make some changes before the user sees the page
            return;
        },
        onInitComplete: function (url, sx, sy) {   //Make ajax calls here, when completed scroll to sx, sy (if not -1)
            if (sx != -1 && sy != -1) window.scrollTo(sx, sy);
            return;
        },
        onExitComponent: function (url_to) {  //Maybe play a sick animation or sth
            return;
        }
    };
</script>