<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JCroft Usermanagement</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Link our stylesheets -->
    <link rel="stylesheet" href="/res/bootstrap.min.css"/>
    <link rel="stylesheet" href="/res/style.css"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var api_token = /*[[${api_token}]]*/ 'token unknown';
        var init_path = /*[[${init_path}]]*/ 'path unknown';
        /*]]>*/
    </script>

</head>

<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a onclick="navigate('/')" href="javascript:void(0);" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><img src="/res/img/logo_icon.png" /><b>J</b>C</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><img src="/res/img/logo_icon.png" /><b>J</b>Croft</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="far fa-bell"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li><!-- Task item -->
                                        <a href="javascript:void(0);">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="javascript:void(0);" class="dropdown-toggle" th:onclick="${user_path}">
                            <img th:src="${user_image}" class="user-image" alt="User Image">
                            <span class="hidden-xs" th:text="${username}"></span>
                        </a>
                    </li>
                    <!-- Control Logout Button -->
                    <li class="dropdown messages-menu">
                        <form action="/logout" method="POST" name="logout">
                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"/>
                        </form>
                        <a class="dropdown-toggle" style="cursor: pointer;" onclick="document.logout.submit();"><i class="fa fa-sign-out-alt"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel" th:onclick="${user_path}" style="cursor: pointer;">
                <div class="pull-left image">
                    <img th:src="${user_image}" class="img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p th:text="${username}" style="cursor: pointer;"></p>
                    <a href="javascript:void(0);" style="cursor: pointer;" th:utext="${'<i class=''fa fa-id-badge text-aqua''></i>' + usercaption}"></a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <!-- /.search form -->

            <ul class="sidebar-menu" data-widget="tree" th:utext="${menu}"></ul>

        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header fade" id="main_header">
            <h1>
                <div id="title"></div>
            </h1>
            <ol class="breadcrumb" id="breadcrumb">

            </ol>
        </section>

        <!-- Main content -->
        <!-- /.content -->

        <!-- Main content -->
        <section class="content">
            <div style="position: absolute; width: 100%; z-index: 1; display: block; visibility: hidden">
                <div id="loading" class="sk-cube-grid" style="width: 39px; height: 39px; margin-left: calc(50% - 135px);">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>
            </div>

            <div id="main_div" class="fade" style="z-index: 0">

            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs" th:utext="${version}"></div>
        <strong>Copyright &copy; 2018 <a href="https://agdsn.de">AG DSN</a></strong>, All Rights Reserved.
    </footer>
</div>
<!-- ./wrapper -->

<!-- Footer javascripts -->
<script src="/res/bootstrap.min.js"></script>
<script src="/res/style.js"></script>
<script src="/res/components.js"></script>

<script>
    $(document).ready(function () {
        navigate(init_path);
    })
</script>

</body>
</html>