<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>JCroft Usermanagement</title>

    <nav>
        <link rel="stylesheet" href="/res/bootstrap.min.css"/>
        <script src="/res/bootstrap.min.js"></script>
    </nav>

</head>
<body>
<div class="container" style="text-align: center; font-family: 'Source Sans Pro'">

    <div class="card" style="width: 50rem;display: inline-block">
        <div class="card-body">
            <img src="/res/img/login_logo.png" />
            <h5>You logged out successfully.</h5>
            <br/>
            <p style="font-weight: 900">Please close this browser window now!</p>
        </div>
    </div>
</div>
</body>
</html>