<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>JCroft Usermanagement</title>

    <nav>
        <link rel="stylesheet" href="/res/bootstrap.min.css"/>
        <script src="/res/bootstrap.min.js"></script>
    </nav>

</head>
<!-- LOGOUTIDENTIFYINGKEY -->
<body>
<div class="container" style="text-align: center; font-family: 'Source Sans Pro'">

    <div class="card" style="width: 50rem;display: inline-block">
        <div class="card-body">
            <img src="/res/img/login_logo.png" />
            <h5 th:text="${msg}" />
            <br/>
            <form method="get" action="/login">
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Back to login page</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>